.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main.initial-assessment {
    align-items: center;
    justify-content: center;
}

.symptom-container {
    display: flex;
    width: 100%;
}

/*.symptom-container { */
.symptom-assessment.initial {
    margin-top:1em;
    background-color: #5051DB;
    text-align: center;
    left: 50%;
    top: 30%;
    padding: 2em 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
    width: 50%;
}

.symptom-assessment.final {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
    transition: all 1s linear;
    width: 30%;
}

.symptom-assessment__final {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.initial-assessment .symptom-visualization {
    height: 100vh;
    width: 100vw;
    background-color:blue;
}

.final-assessment .symptom-visualization {
    height: 100vh;
    width: 70%;
    background-color: red;
}

/* .symptom-container fieldset */
.symptom-assessment fieldset {
    border-width: 0px;
}

.symptom-results {
    display: flex;
    flex-direction: column;
    color: ghostwhite;
}

.start_question {
    display: block;
    color: ghostwhite;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
    margin-top:0.2em;
}

.input {
    margin-top: 0.4em;
}

.answer {
    display: block;
}

/* Symptom Search Results styles */
.symptom-results {
    width: 100%;
}

.symptom-result {
    border-top: 1px solid ghostwhite;
    padding: 0.5em 0;
}

.symptom-result:hover {
    background-color: #26277C;
    color: ghostwhite;
}

/* Symptom Assessment 'Chat-box' Styling */
.symptom-box-container {
    display: flex;
    width: 100%;
}

.symptom-box-container.hidden {
    border: 2px solid ghostwhite;
    display: none;
}

/* Graph Visualization styles for Assessment page */
.symptom-visualization .graph-box {
    height: 100%;
    width: 100%;
}

.symptom-vis {
    background-color: #5051DB;
    border: 2px solid ghostwhite;
    width: 70%;
}

/* Chat Box Styles */
.symptom-box {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.question {
    background-color: #007AFF;
    border: 2px solid #007AFF;
    border-radius: 100px;
    color: white;
    margin: 0;
    padding: 0.4em;
    width: 50%;
}

.answer {
    width: 50%;
    border-radius: 100px;
    border: 2px solid #5051DB;
    float: right;
    white-space: nowrap;
    align-self: end;
    background-color: #5051DB;
    color: white;
    padding: 0.4em;
    margin: 0;
    margin-left: 50%;
}

.chat-input {
    border-radius: 50px;
    margin-top: 1.5em;
    width: 100%;
}
