html,
body {
    height: 100%;
    width: 100%;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.symptom-container {
    border: 2px solid black;
    text-align: center;
    width: 50%;
}

.symptom-container fieldset {
    border-width: 0px;
}

.symptom-results {
    display: flex;
    flex-direction: column;
}

.question {
    display: block;
}

.answer {
    display: block;
}