html,
body {
    height: 100%;
    width: 100%;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.symptom-container {
    border: 2px solid black;
    text-align: center;
    width: 50%;
}

.symptom-container fieldset {
    border-width: 0px;
}

.symptom-results {
    display: flex;
    flex-direction: column;
}

.question {
    display: block;
}

.answer {
    display: block;
}

/* Symptom Search Results styles */
.symptom-results {
    width: 100%;
}

.symptom-result {
    border-top: 1px solid gray;
    padding: 0.5em 0;
}

.symptom-result:hover {
    background-color: aqua;
    color: white;
}

/* Symptom Assessment 'Chat-box' Styling */
.symptom-box-container {
    display: flex;
    width: 100%;
}

.symptom-box-container.hidden {
    border: 2px solid black;
    display: none;
}

.symptom-vis {
    background-color: aqua;
    border: 2px solid black;
    width: 70%;
}

.symptom-box {
    width: 30%;
}