.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main.initial-assessment {
    align-items: center;
    justify-content: center;
}

.symptom-container {
    margin-top:1em;
    background-color: #5051DB;;
    text-align: center;
    left: 50%;
    top: 30%;
    padding: 2em 0;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50%;
}

.symptom-container fieldset {
    border-width: 0px;
}

.symptom-results {
    display: flex;
    flex-direction: column;
    color: ghostwhite;
}

.start_question {
    display: block;
    color: ghostwhite;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
    margin-top:0.2em;
}

.input {
    margin-top: 0.4em;
}

.answer {
    display: block;
}

/* Symptom Search Results styles */
.symptom-results {
    width: 100%;
}

.symptom-result {
    border-top: 1px solid gray;
    padding: 0.5em 0;
}

.symptom-result:hover {
    background-color: #26277C;
    color: ghostwhite;
}

/* Symptom Assessment 'Chat-box' Styling */
.symptom-box-container {
    display: flex;
    width: 100%;
}

.symptom-box-container.hidden {
    border: 2px solid darkgray;
    display: none;
}

.symptom-vis {
    background-color: #5051DB;
    border: 2px solid darkgray;
    width: 70%;
}

/* Chat Box Styles */
.symptom-box {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.question {
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 100px;
    margin: 0;
    padding: 0.4em;
    width: 50%;
}

.answer {
    width: 50%;
    border-radius: 100px;
    border: 2px solid #5051DB;
    float: right;
    white-space: nowrap;
    align-self: end;
    background-color: #5051DB;
    color: white;
    padding: 0.4em;
    margin: 0;
    margin-left: 50%;
}

.chat-input {
    width: 100%;
}
