.graph-box {
    background-color: ghostwhite;
    display: inline-block;
    height: 500px;
    width: 74%;
}

.graph-svg {
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    width:100%;
    height:100%;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
