html,
body {
    background-color: ghostwhite;
    width: 100%;
}

.graph-box {
    background-color: green;
    display: inline-block;
    height: 500px;
    width: 74%;
}

.login {
    display: flex;
}


.login-box {
    background-color: red;
    display: inline-block;
    height: 500px;
    position: relative;
    width: 25%;

}

.login-box__form {
    border: 2px solid black;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-box__form fieldset {
    border: 0px;
    display: block;
    margin-bottom: 1em;
}

main {
    display: flex;
}
