.graph-box {
    background-color: ghostwhite;
    display: inline-block;
    height: 500px;
    width: 74%;
}

.graph-svg {
    width:100%;
    height:100%;
}

.login {
    display: flex;
    width: 100%;
}

.login__form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.2em 0.2em 0.2em 2.2em;
    width: 24%;
}
.login__form title {
    display: block;
    font-weight: bold;
}

.login__form p {
    border: 0px;
    display: block;
}

main {
    display: flex;
}
