.login {
    display: flex;
    width: 100%;
}

.login__form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.2em 0.2em 0.2em 2.2em;
    width: 24%;
}
.login__form title {
    display: block;
    font-weight: bold;
}

.login__form p {
    border: 0px;
    display: block;
}

main {
    display: flex;
}

/* Sign In Button styles */
#submit {
    background-color: #5051DB;
    color: white;
    font-size: 1em;
    padding: 0.5em 0;
    width: 100%;
}

#submit:hover {
    background-color: #26277C;
}
<<<<<<< HEAD
=======

.errors li {
    font-size: 0.8em;
    color: red;
}
>>>>>>> user
