nav {
    background-color: ghostwhite;
    overflow: hidden;
    width: 100%;
    z-index:1;
}

ul {
    margin:0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

li {
    list-style: none;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a {
    padding: 0.4em 0.4em;
    line-height: 33px;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #5051DB;
}

#logo {
    padding: 0.4em 0.4em;
    line-height: 33px;

}
