.profile {
    margin: 0 auto;
    width: 50%;
}

.profile-info {
    border: 2px solid black;
    margin: 0 auto;
    padding: 2em;
    width: 50%;
}

.profile-info__title {
    text-align: center;
    width: 100%;
}

.info {
    display: block;
}

.info-container {
    margin-bottom: 2em;
}

/* Edit Profile Button styles */
.edit-profile-info {
    background-color: #5051DB;
    color: white;
    font-size: 1em;
    padding: 0.5em 0;
    width: 100%;
}

.profile-editor {
    display: none;
}