<html>
    <head>

    </head>
    <body>
        <header>
            <h1> This is the header </h1>
        </header>
        <main>
            <div class="symptom-container">
                <form>
                    <fieldset>
                        <label for="symptom-search"> What is your symptom? </label>
                        <input id="symptom-search" type="text" />
                    </fieldset>
                </form>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>