<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/assessment.css') }}">
    </head>
    <body>
        <main class="main">
            <div class="symptom-container">
                <form>
                    <fieldset>
                        <label class="question" for="symptom-search"> What is your symptom? </label>
                        <input class="input" id="symptom-search" type="text" />
                    </fieldset>
                </form>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>