<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <header>
            <nav class="nav">
                <a href="#"> Home </a>
                <a href="About"> About </a>
                <a href="Profile"> Profile </a>
            </nav>
    </header>
    <body>
        <main>
            <div class="graph-box">
                <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/Y8NkwQLo-6o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="login-box">
                <form class="login-box__form">
                    <fieldset>
                        <label for="user"> Username </label>
                        <input name="user" id="user" type="text" required>
                    </fieldset>

                    <fieldset>
                        <label for="pass"> Password </label>
                        <input name="pass" id="pass" type="password" required>
                    </fieldset>

                    <input type="submit" value="Login">
                </form>
            </div>
        </main>
    </body>
</html>