.nav {
    background-color: darkgrey;
    overflow: hidden;
    text-align:right;
    z-index:1;
}

.nav a {
    float: left;
    font-family: Geneva;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: sienna;
    color: black;
}


body {
    background-color: ghostwhite;
}