nav {
    background-color: darkgrey;
    overflow: hidden;
    width: 100%;
    z-index:1;
}

ul {
    margin:0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

li {
    list-style: none;
    float: left;
    font-family: Geneva;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a {
    padding: 0.4em 0.4em;
    line-height: 33px;
    float: left;
    font-family: Geneva;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: sienna;
}

#logo {
    padding: 0.4em 0.4em;
    line-height: 33px;

}
html,
body {
    background-color: ghostwhite;
    width: 100%;
}

.graph-box {
    background-color: green;
    display: inline-block;
    height: 500px;
    width: 74%;
}
.login-box {
    background-color: red;
    display: inline-block;
    height: 500px;
    position: relative;
    width: 25%;
}

.vid {
    height: 100%;
    width: 100%;
}

.login-box__form {
    border: 2px solid black;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-box__form fieldset {
    border: 0px;
    display: block;
    margin-bottom: 1em;
}

main {
    display: flex;
}
