{% extends "page.html" %}

{% block content %}
<div class="login">
    <div class="graph-box"></div>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
    <form class="login__form">
        <fieldset>
            <label for="user-login">  {{ form.username.label }} </label>
            <input type="text" id="user-signup" />
            <br/>
            <label for="pass-login">  {{ form.password.label }} </label>
            <input type="pass" id="pass-login" />
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </fieldset>

    </form>

<!---
    <form class="login__form">
        <fieldset>
            <label for="user-login"> Username </label>
            <input type="text" id="user-login" />
        </fieldset>
        <fieldset>
            <label for="pass"> Password </label>
            <input type="password" id="pass" />
        </fieldset>

        <button class="button" type="submit"> Login </button>
    </form>
-->
</div>
{% endblock %}
