{% extends "page.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
    <div class="profile">
        <div class="profile-info">
            <div class="profile-info__title">
                <h2> Profile Information </h2>
            </div>
            {% if not current_user.is_authenticated %}
                <div class="account-info info-container">
                    <span class="user info">Please Login or Sign Up to View</span>
                </div>
            {% else %}
                <div class="account-info info-container">
                    <span class="user info">Username: {{ current_user.username }} </span>
                </div>
                <div class="basic-info info-container">
                    <span class="age info">Age: {{ current_user.age }} </span>
                    <span class="sex info">Sex: {{ current_user.sex }} </span>
                </div>
                <div class="personal-info info-container">
                    <span class="height info">Height: {{ current_user.height }} </span>
                    <span class="weight info">Weight: {{ current_user.weight }} </span>
                </div>
                <div class="health-info info-container">
                    <span class="smoker info">Smoker: {{ current_user.smoker }}</span>
                    <span class="blood-pressure info">Blood Pressure: {{ current_user.blood_pressure_systolic }} {{ current_user.blood_pressure_diastolic }}</span>
                    <span class="diabetes info">Diabetes: {{ current_user.diabetes }}</span>
                </div>
                <button class="profile-button edit-profile-info">Edit Info</button>
                <button class="profile-button view-assessments"> View Assessment History </button>
            {% endif %}
        </div>
        <div class="profile-editor">
            <form class="login__form" action="" method="post" novalidate>
                <div class="login__form-container">
                <h3> Edit Profile Information </h3>
                    <p> {% for error in form.age.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.age.label }} {{ form.age(size=2) }}</p>
                     <p> {% for error in form.sex.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.sex.label }} {{ form.sex(size=2) }}</p>
                     <p> {% for error in form.height.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.height.label }} {{ form.height(size=2) }}</p>
                     <p> {% for error in form.weight.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.weight.label }} {{ form.weight(size=2) }} </p>
                     <p> {% for error in form.smoker.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.smoker.label }} {{ form.smoker(size=3) }} </p>
                     <p> {% for error in form.blood_pressure_systolic.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.blood_pressure_systolic.label }} {{ form.blood_pressure_systolic(size=3) }} </p>
                     <p> {% for error in form.blood_pressure_diastolic.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.blood_pressure_diastolic.label }} {{ form.blood_pressure_diastolic(size=3) }} </p>
                     <p> {% for error in form.diabetes.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %} </p>
                    <p> {{ form.diabetes.label }} {{ form.diabetes(size=3) }} </p>
                    <p> {{ form.submit() }} </p>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}" type="text/javascript"></script>
{% endblock %}
